/******************************************************************************
 * Content
 ******************************************************************************/

html {
  background-color: var(--global-bg-color);
  overscroll-behavior: none;
}

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  min-height: 100vh;
  overscroll-behavior: none;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

main.container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem;

  @media (max-width: 576px) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
